@page "/Home"
@model IndexPage
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model.SignInUser.UserName</h1>
    <p>Current user session ID ? @HttpContext.Session.Id == @HttpContext.Session.GetString("ASP_SessionID")</p>
    <p>
        @Model.UserInfo
        <br/>
        @Model.Message
    </p>
</div>
